@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

nav {
  height: 70px;
  display: flex;
  justify-content: space-between;
  /* centers elements in nav bar */
  align-items: center;
  /* 0 padding top and bottom, 16px left and ride 
    padding pixel divisible by 8 = nice! */
  padding: 0 16px;
  background-color: #cafdff;
}

header {
  background-color: #eadcff;
  /* to match the size of the webpage on the image, or in other words to access the next portion of the webpage, use calc to subtract the original nav bar size.
     */
  height: calc(100vh - 70px);
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 72px;
}

.subheader {
  font-size: 36px;
  margin: 16px 0 24px 0;
}

button {
  background-color: #05c7cf;
  color: white;
  border: none;
  padding: 8px 16px;
  font-size: 24px;
  cursor: pointer;
}
/* Customizing anchor tags */
a {
  color: black;
  font-size: 24px;
  font-weight: 700;
}

.logo {
  /* adjusting size of "Frontend Simplified img */
  width: 300px;
}

ul {
  display: flex;
}

li {
  /* removes list dot  */
  list-style-type: none;
  /* adds padding to left side of each element in nav 
    bar */
  padding-left: 16px;
}

.row {
  width: 100%;
  max-width: 1300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ABOUT */

#about {
  padding: 48px 0;
}

h2 {
  font-size: 60px;
  text-align: center;
  margin-bottom: 24px;
}

.section__description {
  display: flex;
}

.about__img--wrapper {
  width: 40%;
}

img {
  width: 100%;
}

/* adds padding to left and right side of elements
    elements will now not fall onto the sides of webpage   */
.about__img--wrapper,
.section__description--wrapper {
  width: 60%;
  /* padding: 0 for top and bottom and 24 left and right */
  padding: 0 24px;
}

.section__description--para {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 24px;
}
