@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

nav {
  height: 70px;
  display: flex;
  justify-content: space-between;
  /* centers elements in nav bar */
  align-items: center;
  /* 0 padding top and bottom, 16px left and ride 
    padding pixel divisible by 8 = nice! */
  padding: 0 16px;
}

.logo {
  /* adjusting size of "Frontend Simplified img */
  width: 300px;
}

ul {
  display: flex;
}

li {
  /* removes list dot  */
  list-style-type: none;
  /* adds padding to left side of each element in nav 
    bar */
  padding-left: 16px;
}
