@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* 

LANDING PAGE

*/

nav {
  height: 70px;
  display: flex;
  justify-content: space-between;
  /* centers elements in nav bar */
  align-items: center;
  /* 0 padding top and bottom, 16px left and ride 
    padding pixel divisible by 8 = nice! */
  padding: 0 16px;
  background-color: #cafdff;
}

header {
  background-color: #eadcff;
  /* to match the size of the webpage on the image, or in other words to access the next portion of the webpage, use calc to subtract the original nav bar size.
     */
  height: calc(100vh - 70px);
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 72px;
}

.subheader {
  font-size: 36px;
  margin: 16px 0 24px 0;
}

button {
  background-color: #05c7cf;
  color: white;
  border: none;
  padding: 8px 16px;
  font-size: 24px;
  cursor: pointer;
}
/* Customizing anchor tags */
a {
  color: black;
  font-size: 24px;
  font-weight: 700;
}

.logo {
  /* adjusting size of "Frontend Simplified img */
  width: 300px;
}

ul {
  display: flex;
}

li {
  /* removes list dot  */
  list-style-type: none;
  /* adds padding to left side of each element in nav 
    bar */
  padding-left: 16px;
}

.row {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#about,
#discord,
#contact,
footer {
  padding: 48px 0;
}

/* 

ABOUT

*/

#about {
  background-color: #f8ffdc;
}

h2 {
  font-size: 60px;
  text-align: center;
  margin-bottom: 24px;
}

.section__description {
  display: flex;
}

.about__img--wrapper {
  width: 40%;
  /* padding: 0 24px; */
}

img {
  width: 100%;
}

.section__description--wrapper {
  width: 60%;
}

/* adds padding to left and right side of elements
    elements will now not fall onto the sides of webpage   */
.about__img--wrapper,
.section__description--wrapper {
  /* padding: 0 for top and bottom and 24 left and right */
  padding: 0 24px;
}

.section__description--para {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 24px;
}

/* 

DISCORD

*/

#discord {
  background-color: #cefeff;
}

/* 

CONTACT 

*/

#contact {
  background-color: #dce9ff;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

form {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  /* margin: 0 auto same as flex-direction: column & align 
    items center */
  margin: 0 auto;
  padding: 0 24px;
}

input,
textarea {
  /* adds margin to bottom portion of input and textarea box elements */
  margin-bottom: 24px;
  font-size: 20px;
  padding: 6px 12px;
}

/*

FOOTER

*/

footer {
  background-color: #aaf5ff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__logo {
  max-width: 480px;
  margin-bottom: 16px;
}

.footer__links {
  margin-bottom: 40px;
}

.footer__link {
  padding: 0 16px;
}

/* 

RESPONSIVENESS FOR MULTIMEDIA PLATFORMS 

*/

/* SMALL PHONES, TABLETS, LARGE SMARTPHONES */
@media (max-width: 728px) {
  /* everything inside this bracket will take into effect when the max
        width of the screen is 728px */
  .row {
    flex-direction: column;
  }

  .home__description {
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .home__description--button {
    max-width: 240px;
  }

  h1 {
    text-align: center;
    font-size: 68px;
  }

  .subheader {
    text-align: center;
    font-size: 28px;
  }

  ul {
    display: none;
  }

  .section__description {
    flex-direction: column;
  }

  .section__description--wrapper {
    width: 100%;
  }

  .about__img--wrapper {
    width: 100%;
  }

  #discord .section__description {
    flex-direction: column-reverse;
  }

  footer {
    padding: 48px 24px;
  }

  .footer__logo {
    max-width: 360px;
  }

  .footer__link {
    padding: 0 4px;
    font-size: 18px;
  }

  .footer__links {
    margin-bottom: 24px;
  }
}
