@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

nav {
  height: 70px;
  display: flex;
  justify-content: space-between;
  /* centers elements in nav bar */
  align-items: center;
  /* 0 padding top and bottom, 16px left and ride 
    padding pixel divisible by 8 = nice! */
  padding: 0 16px;
  background-color: #cafdff;
}

header {
  background-color: #eadcff;
  /* to match the size of the webpage on the image, or in other words to access the next portion of the webpage, use calc to subtract the original nav bar size.
     */
  height: calc(100vh - 70px);
}

/* Customizing anchor tags */
a {
  color: black;
  font-size: 24px;
  font-weight: 700;
}

.logo {
  /* adjusting size of "Frontend Simplified img */
  width: 300px;
}

ul {
  display: flex;
}

li {
  /* removes list dot  */
  list-style-type: none;
  /* adds padding to left side of each element in nav 
    bar */
  padding-left: 16px;
}
